


 .navbar {
    background-color:$ink-blue;
  }

  .primary-link {
    color: $primary;
    font-weight: 400 !important;
  }

  @media only screen and (max-width: $breakpoint-sm) {

    .navbar>.container {
      justify-content: center;
      text-align: center;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
    

  }

  