// styles.scss

@import "./Sass/Utilities/variables";
@import "./Sass/Utilities/themes";
@import "./Sass/Components/accordion";
@import "./Sass/Components/buttons";
@import "./Sass/Components/card";
@import "./Sass/Components/footer";
@import "./Sass/Components/nav";
@import "./Sass/Utilities/assets";
@import "./Sass/Utilities/global";


body {
  font-family: "Inter", sans-serif;
}


.hero{
  background: url("https://image.dream.snhu.edu/lib/fe9213737461067576/m/1/d90949c9-b995-43a1-8e4a-97eb312769bc.png") no-repeat center center/cover;
  height: 400px;
  border-radius: 10px;
}

.welcome {
    background-color: #00244e;
    padding: 3rem;
    border-radius: 0 2.5rem 0 2.5rem;
    color: #fff;
}


.vidyard-player-container {
      border-radius: 20px 20px 0 0;
      height: 15rem !important;
}


.card-body {
       height: 14rem;
}
  
  
  
 
  
  
 
  